
body {
  background: url("../images/lofy-wallpaper.webp") center/cover no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  font-family: "bamboo", sans-serif;
  font-weight: 400;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}