@import url("./normalize.css");
@import url("./fonts.css");
@import url("./variables.css");
@import url("./global.css");

.todo {
  max-width: 770px;
  margin-inline: auto;
}

.todo__title {
  font-size: clamp(1.75rem, 1.1rem + 2.3vw, 4rem);
  line-height: 1;
  background-image: var(--color-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.todo__title-wrapper {
  background-color: var(--color-tranclucent);
  backdrop-filter: var(--blur);
  margin-inline: auto;
  max-width: 430px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border);
  border-radius: var(--border-radius);
  margin-top: 60px;
}

.todo__form {
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-form__input {
  width: 600px;
  height: 82px;

  background-color: var(--color-tranclucent);
  backdrop-filter: var(--blur);
  border: var(--border);
  border-radius: 7px;
  color: var(--color-light);

  padding-left: 20px;
  font-size: 24px;

  &:focus,
  &:focus-visible {
    outline: 2px solid var(--color-light);
  }
}

.todo-form__button {
  border: none;
  background-color: transparent;
  transition-duration: var(--transition-duration);
  display: flex;
  justify-content: center;
  

  &::after {
    content: "";
    width: 90px;
    height: 90px;
    background: url("../icons/plus.svg") center/cover no-repeat;
    backdrop-filter: var(--blur);
    border: var(--border);
    border-radius: 50%;
  }

  &:hover {
    backdrop-filter: calc(var(--blur) + 5px);
  }
  &:active {
    scale: 0.99;
  }
}

.todo__list {
  display: grid;
  row-gap: 24px;

  margin-top: 70px;
  padding-bottom: 70px;
}
.todo__list-item {
  width: 730px;
  height: 70px;
  border-radius: var(--border-radius);
  border: var(--border);
  background-color: var(--color-tranclucent);
  backdrop-filter: var(--blur);

  font-size: 20px;
  color: var(--color-light);
  padding-inline: 50px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;

  opacity: 1;
  transition: opacity 0.3s ease;
}


.todo-item__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  
  &::after {
    content: "";
    width: 60px;
    height: 42px;
    background: url("../icons/bin.svg") center/cover no-repeat;
  }
  &:hover {
    scale: 1.02;
  }
}

.todo-item__actions {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.checked-item {
  opacity: 0.7;
}

.checked-item .todo__list-text {
  text-decoration: line-through;
}

.todo__list-text {
  transition: text-decoration 0.3s ease;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 55px;
  height: 55px;
  
}
.checkbox__real {
  display: none;
}
.checkbox__custom {
  width: 35px;
  height: 35px;
  border: 3px solid var(--color-light);
  border-radius: 50%;
  position: relative;
}

.checkbox__real:checked + .checkbox__custom::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background: url("../icons/checkbox.svg") center/cover no-repeat;
  width: 40px;
  height: 40px;
}

.todo__list-item--removing {
    animation: fadeOut 0.3s ease-out forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(20px);
    }
}